<ion-view view-title="Account">
  <ion-content>
  <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
    <ion-list>
      <ul class="list">
        <li class="item">Username: {{user.username}}</li>
      </ul>
      <label class="item item-input item-select">
        <div class="input-label">
          Add new Record
        </div>
        <select>

          <option ng-selected="$index === 0" ng-repeat="property in properties track by $index" ng-click="chooseProp(property.name)">{{property.name}}</option>
        </select>
      </label>

    </ion-list>
    <ion-list>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Record Name" ng-model="record.recordname">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Artist" ng-model="record.artist">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Genre" ng-model="record.genre">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Picture" ng-model="record.picture">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Condition
          </div>
          <select>
            <option ng-repeat="item in stache">{{item.name}}</option>
            <option ng-model="record.condition" value="Mint">Mint</option>
            <option ng-model="record.condition" value="Excellent">Excellent</option>
            <option ng-model="record.condition" value="Good">Good</option>
            <option ng-model="record.condition" value="Decent">Decent</option>
            <option ng-model="record.condition" value="Poor">Poor</option>
          </select>
        </label>
        <button class="button button-block button-positive" ng-click="addRecord(record)">Add Record</button>
      </div>

    </ion-list>
    <div class="list list-inset">
      <ion-list>
        <a class="item item-thumbnail-left" href="#" ng-repeat="record in stache" ng-click="click(makeManager)">
          <img src="{{user.picture}}">
          <h2>{{record.recordname}}</h2>
          <h2>{{record.artist}}</h2>
        </a>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
