<ion-view view-title={{record}}>
  <ion-content class="padding">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>


    <ion-header-bar class="bar-positive">
      <h1 class="title">Welcome {{user.username}}!</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="contact in contacts">
          {{contact.name}}
        </ion-item>
      </ion-list>
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Trade Offer</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
        <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Personal Stache
          </div>
          <select ng-model="selectedRecord">
            <option ng-repeat="item in user.records">{{item.recordname}}</option>            
          </select>
        </label>
          <button ng-click="confirmTrade(selectedRecord, desiredRecord)">Trade {{selectedRecord}}</button>

        </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <label class="item item-input">
      <input type="text" placeholder="Search" ng-model="query">
    </label>
    <!-- <label class="item item-input">
      <input type="text" placeholder="Search by Artist" ng-model="search.artist">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Search by Genre" ng-model="search.genre">
    </label> 
    <button class="button button-block button-assertive" ng-click="search(search.recordname, search.artist, search.genre)">Search</button> -->
    <h2 class="title">Trade Records</h2>
    <ion-list>
    Query: {{query}}
      <ion-item ng-repeat="record in items | filter: query">
        <ion-option-button class="button-positive" ng-click="selectRecord(record); modal.show();">Ask To Trade</ion-option-button>
        <div class="table">
          <div class="row">
            <div class="col-md-4">
              <img src="{{record.picture}}">
            </div>
            <div class="col-md-8">
              <h4 ng-model="desiredRecord">{{record.recordname}} by {{record.artist}}</h4>
              <p>Genre: {{record.genre}}</p>
              <p>Condition: {{record.condition}}</p>
              <p>Available: {{record.isAvailable}}</p>                  
            </div>                
          </div>              
        </div>
      </ion-item>
    </ion-list>
    <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
  </ion-content>
</ion-view>