<ion-view view-title="Account">
  <ion-content>
    <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
    <ion-list>
      <ul class="list">
        <li class="item">Username: {{user.username}}</li>
      </ul>
      <label class="item item-input item-select">
        <div class="input-label">
          Add new Record
        </div>
        <select>

          <option ng-selected="$index === 0" ng-repeat="property in properties track by $index" ng-click="chooseProp(property.name)">{{property.name}}</option>
        </select>
      </label>

    </ion-list>
    <ion-list>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Record Name" ng-model="record.recordname">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Artist" ng-model="record.artist">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Genre" ng-model="record.genre">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Picture" ng-model="record.picture">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Condition
          </div>
          <select>
            <option ng-model="record.condition" value="Mint">Mint</option>
            <option ng-model="record.condition" value="Excellent">Excellent</option>
            <option ng-model="record.condition" value="Good">Good</option>
            <option ng-model="record.condition" value="Decent">Decent</option>
            <option ng-model="record.condition" value="Poor">Poor</option>
          </select>
        </label>
        <button class="button button-block button-positive" ng-click="addRecord(record)">Add Record</button>
      </div>

    </ion-list>
    <ion-list>
      <ion-item href="#" ng-repeat="record in stache">
        <div>
          <img src="{{record.picture}}">
        </div>
        <div>
          <h4 ng-model="record">{{record.recordname}} by {{record.artist}}</h4>
          <p>Genre: {{record.genre}}</p>
          <p>Condition: {{record.condition}}</p>
          <p>Available: {{record.isAvailable}}</p>
        </div>
        <ion-option-button ng-click="deleteRecord(record)" class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
        <!-- <ion-item show-delete="shouldShowDelete">
        <a class="item item-thumbnail-left" href="#" ng-repeat="record in stache">
          <ion-delete-button class="ion-minus-circled" ng-click="deleteRecord(record)"></ion-delete-button>
          <img src="{{record.picture}}">
          <h2>{{record.recordname}}</h2>
          <h2>{{record.artist}}</h2>
        </a>
        </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>
