<ion-view view-title={{record}}>
  <ion-content class="padding">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>



    <ion-header-bar class="bar-positive">
      <h1 class="title">Contacts</h1>
      <div class="buttons">
        <button class="button button-icon ion-compose" ng-click="modal.show()">
        </button>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="contact in contacts">
          {{contact.name}}
        </ion-item>
      </ion-list>
    </ion-content>
  </a>
</div>
<button class="button button-block button-assertive" ng-click="logout()">Logout</button>


    <ion-list>
      <ion-item ng-repeat="record in items">
        <ion-option-button class="button-positive" ng-click="selectRecord(record); model.show();">Ask To Trade</ion-option-button>
        <!-- Hello, {{item}}! -->
    <div class="table">
      <div class="row">
        <div class="col-md-4">
          <img src="{{record.picture}}">
        </div>
        <div class="col-md-8">
          <h4>{{record.recordname}} by {{record.artist}}</h4>
          <p>Genre: {{record.genre}}</p>
          <p>Condition: {{record.condition}}</p>
          <p>Available: {{record.isAvailable}}</p>                  
        </div>                
      </div>              
    </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


















